<html>
<head>
        <title>Nancy Jurado</title>
    </head>
    <h1>Ilustración</h1> 
    <h2>Ilustración infantil</h2>
<body>
    <p>Movimiento cultural e intelectual, primordialmente europeo,1​ que nació a mediados del siglo XVIII y duró hasta los primeros años del siglo XIX. Fue especialmente activo en Francia, Inglaterra y Alemania.2​ Inspiró profundos cambios culturales y sociales, y uno de los más <strong> dramáticos fue la Revolución francesa.</strong> Se denominó de este modo por su declarada finalidad de disipar las tinieblas de la ignorancia de la humanidad mediante las luces del conocimiento y la razón.3​ El siglo XVIII es conocido, por este motivo, como el Siglo de las Luces4​ y del asentamiento de la fe en el progreso.</p>
    <p>It works!</p>
</body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>